$color-principal:#dad3c8;
$color-secundario: dimgrey;
$font-base: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
// Mixins
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}