$color-principal:#dad3c8;
$color-secundario: dimgrey;
$font-base: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
// Mixins
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin mq-tablet{
    @media (min-width:481px) and (max-width:1023px){
        @content;
    }
}
@mixin mq-desktop{
    @media (min-width:1024px){
        @content;
    }
}